@font-face {
    src: url('../font/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
    src: url('../font/Bilbo/BilboSwashCaps-Regular.ttf');
}
@font-face {
    font-family: 'Bilbo';
    font-style: normal;
    font-weight: 400;
    src: local('Bilbo Regular'), local('Bilbo-Regular'), url(https://fonts.gstatic.com/s/bilbo/v7/o-0EIpgpwWwZ220mroU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline:none;
}
a{
    text-decoration: none;
    color: #b4b4b4;
}
html,body{
    width: 100%;
    height: 100%;
}

                  /*header*/
header{
    width: 100%;
    height: 120px;
    background: rgba(255,255,255,0.2);
    font-family: 'Bilbo', cursive;
    position: fixed;
    z-index: 100;
}
.header__logo{
    float: left;
    margin: 15px 0 0 35px;
    position: relative;
    text-decoration: none;
    background: url("../logo.png")no-repeat;
    background-size: contain;
    width:260px;
    height: 90px;
    transition: all .5s linear;
}
.header__logo:hover{
    transform: skew(10deg);
}
header p{
    display: inline-block;
    margin-top:40px;
    font-size: 1.2em;
    color: #b4b4b4;
}
.header__language{
    float: right;
    margin-right:180px ;
    margin-top: 20px;
    position: relative;
}

.header__language li{
    list-style: none;
    display: inline-block;
}
.header__language a{
    font-weight:bold;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    padding: 5px;
}
a:hover:not(.header__logo),
.header__language-ru a{
    color: #2c2c2c;
}
.header__language:before{
    content:"";
    display: inline-block;
    width: 2px;
    height: 30px;
    background: #b4b4b4;
    position: absolute;
    left: 41px;
}

.burger-trigger{
    display: flex;
    -webkit-align-items:flex-start;
    -webkit-justify-content:center ;
    position: absolute;
    right: 50px;
    top:20px;
    width: 50px;
    height: 40px;
    z-index: 200;
}
.burger{
    width: 40px;
    height: 4px;
    background:linear-gradient(-45deg, rgb(64, 223, 223) 0, rgb(0, 167, 89) 100%);
    border-radius: 2px;
    z-index: 110;
    transition: .5s all;
    position: relative;
}
.burger:before{
    content: "";
    position: absolute;
    top:10px;
    right: 0;
    width: 40px;
    height: 4px;
    background:linear-gradient(135deg, rgb(64, 223, 223) 0, rgb(0, 167, 89) 100%);
    border-radius: 2px;
    z-index: 110;
    transition: .5s all;
}
.burger:after{
    content: "";
    position: absolute;
    top:20px;
    right: 0;
    width: 40px;
    height: 4px;
    background:linear-gradient(-45deg, rgb(64, 223, 223) 0, rgb(0, 167, 89) 100%);
    border-radius: 2px;
    z-index: 110;
    transition: .5s all;
}



.nav,.nav_subnav{
    background: linear-gradient(135deg, rgba(64, 223, 223, 0.82) 0, rgba(0, 167, 89, 0.84) 100%);
    width:0;
    opacity: 0.9;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top:0;
    right: 0;
    z-index: 101;
    padding-top:166px;
    transition: .5s all;
}



.menu li{
    display: block;
    padding: 15px 20px 15px 120px;
    color:white;
    font-size: 1.5em;
    position: relative;
}
.menu li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color:white;
    font-weight: normal;
}

.button-into-nav{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    right:0;
    z-index: 120;
    cursor: pointer;
}
.arrow{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 25px;
    top:calc(50% - 10px);
    border-radius: 3px;
    border:solid 2px white;
    border-right: none;
    border-bottom: none;
    transform: rotate(135deg);
    transition: .5s all;
    opacity: 0;
    z-index: 120;
}
.nav_subnav li a{
    width: 100%;
    height: 100%;
}

/*класс который описывает открытое меню*/
.nav_opened .nav{
    width: 30%;
}
.nav_opened .burger{
    background: none;
}
.nav_opened .burger:before{
    background: white;
    transform: rotate(45deg);
    top:15px;
}
.nav_opened .burger:after{
    background: white;
    transform: rotate(135deg);
    top:15px;
}
.nav_opened .arrow {
    opacity: 1;
}
/*класс который описывает открытое подменю*/


.subnav_opened .nav{
    width: 0;
}
.subnav_opened .subnav_button{
    width: 100%;
    height: 100%;
}
.subnav_opened .arrow{
    opacity: 1;
    transform: rotate(-45deg);
    left: 25px;
}
.subnav_opened .nav_subnav{
    width: 30%;
}
.subnav_opened .burger{
    background: none;
}
.subnav_opened .burger:before{
    background: white;
    transform: rotate(45deg);
    top:15px;
}
.subnav_opened .burger:after{
    background: white;
    transform: rotate(135deg);
    top:15px;
}


/*footer*/
footer{
    width: 100%;
    height:120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom:0;
    border-top:solid #cbcbcb 1px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}
footer div{
    width: 30%;
    text-align: center;
    overflow: hidden;
    color: #b4b4b4;
}
.contact{
    font-size: 1em;
    text-align: left;
}
.contact a{
    display: block;
}

.social{
    font-size: 3em;
    text-align: right;
}


/*section*/

.section:first-child{
    background: url("../img/main-page-gallery/main-background.JPG");
    background-size: cover;
    position: relative;
}
.section:last-child footer{
    bottom: 0;
}
.main-content{
    width: 1000px;
    display: inline-block;
    color: white;
    position: absolute;
    top:50%;
    margin-top: -150px;
    right: 50%;
    margin-right: -500px;
    text-align: center;
}
.main-header {
    display: inline-block;
    border-bottom: dashed white 1px;
}
.main-content p{
    font-size: 2em;
}

.section:first-child .button-down-main{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2%;
    right: 50%;
    cursor: pointer;
}
.fa-chevron-circle-down{
    color: white;
    font-size:50px;
    opacity: 0.4;
}
.fa-chevron-circle-down:hover{
    color: #2c2c2c;
}


.section{
    position: relative;
}
.container_wrapper{
    display: -webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-content: center;
}
.container{
    -webkit-flex-basis: 1248px;
    box-sizing: border-box;
    padding:10% 20px;
    display: -webkit-flex;
    -webkit-justify-content:space-around;
    -webkit-align-content: center;
    -webkit-align-items: center;
}

.container-right,.container-left{
    -webkit-flex-basis: 50%;
    height: auto;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: space-between;
    -webkit-align-items: center;
}

.photo-one,.photo-tree,.photo-four,.gallery-header{
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    flex-grow: 1;
}
.photo-five{
    width: 100%;
    padding:5px;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
}


.gallery-header{
    font-family: 'Bilbo', cursive;
    display: inline-block;
    font-size: 2.5em;
    text-align: center;
    color: #26D2AE;
    text-shadow:6px 2px 11px   #00a06d;
    background-size:15%;
}

.container-left .gallery-header:hover{
    color: #1c8d73;
}

.section .button-down,.button-up{
    font-size: 1.5em;
    color: #00a06d;
    font-family: 'Cormorant Garamond', serif;
    display:inline-block;
    width:120px;
    position: absolute;
    bottom: 50px;
    right:50px;
    cursor: pointer;
}
.section .button-up{
    bottom: auto;
    top:120px;
}

.section:last-child .button-up{
    top:auto;
    bottom: 12%;
}


.box__animation img{
    width: 100%;
}
.box__animation{
    position: relative;
    overflow: hidden;
}
.box__animation:before{
    content: "";
    width:calc(100% - 10px);
    height:calc(100% - 15px);
    position: absolute;
    top:5px;
    left: 5px;
    z-index: 10;
    -webkit-transition: 3s linear all;
}
.box__animation:hover > img{
    -webkit-transition: 3s linear all;
    -webkit-transform: scale(1.1);

}
.box__animation:hover::before{
    background-image: linear-gradient(135deg,rgba(64,222,223,.5) 0,rgba(64,222,223,.5) 25%,rgba(64,64,64,.5) 45%,rgba(64,64,64,.5) 100%);
    -webkit-transform: scale(1.1);

}








                                  /*about page*/

.content-about h1, .content-about h2, .content-about p{
    color: #7d7676;
    font-size: 2em;
    padding: 20px;
}
.content-about h1{
    font-size: 3em;
}


.content-about div{
    display: inline-block;
    width: 400px;
    margin: 20px;
    overflow:hidden;
}
.content-about img{
    width: 250px;
    padding:100px 20px;
    float: right;
}
.content-about p {
    text-align: justify;
    font-size: 1.5em;
}
.about_header{
    top:0;
}
                               /*info-for-order*/
.content{
    width: 60%;
    min-height: calc(100vh - 120px);
    margin:auto;
    padding-top:8%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.content-info-for-orders{
    color: #919191;
    font-size: 20px;
    text-align: justify;
}
.content-info-for-orders a{
    color: #26d2ae;
    text-shadow: none;
}
.content-info-for-orders a:hover,.info-for-order_footer a:hover{
    color: #6eb4b2;
    text-shadow:1px 1px 1px #26d2ae;
}
footer{
    position: absolute;
    bottom: auto;
}
.content-info-for-orders h1,.content-info-for-orders h3,.content-info-for-orders p{
    padding: 5px;
}
.content-info-for-orders h1{
    color: #26d2ae;
    text-align: center;
    padding-bottom:30px;
}
                              /*contact*/

.content-contacts-wrapper{
    width: 100%;

}
.content-contacts{
    width: 60%;
    overflow: hidden;
}
.text-block h2{
    color: rgb(93, 93, 93);
    padding:50px 0 10px 0;
}
.text-block h1{
    color: rgb(93, 93, 93);
    font-size: 3em;
}
.text-block p{
    color: #9d9696;
    font-size: 20px;
    padding: 10px 0;
}
.contact_form{
    width: 50%;
    margin: 50px 20px 50px 0;
    display: inline-block;
    float: left;
}
.contact_form input{
    font-size: 1.2em;
    padding: 10px 0 5px 0;
    margin-bottom: 5px;
    border: none;
    width: 60%;
    border-bottom: solid #cccccc 1px;
}

.contact_form textarea{
    max-width: 100%;
    min-width: 50%;
    min-height: 100px;
    max-height: 200px;
    border: none;
    border-bottom: solid #cccccc 1px;
    font-size: 1.5em;
    margin-top: 20px;

}
.contact_form button{
    display: block;
    border:solid #26d2ae 1px;
    width: 120px;
    height: 50px;
    background: none;
    color: #26d2ae;
    font-size: 1em;
    margin-top: 50px;
    transition: .3s all;

}
.contact_info a,.contact_info span{
    display: block;
    color:#9D9696;
    font-size: 1.5em;
    padding-bottom: 10px;
}
.contact_info i{
    padding-right: 20px;
    color: #26d2ae;
}
.contact_info{
    display: inline-block;
    margin: 50px 20px 50px 0;
}
.contact_form input:focus, textarea:focus{
    border-color: #26d2ae;
}
.contact_form button:hover{
    background: #26D2AE;
    color: white;
}
.contact_form button:active{
    background: #1c8d73;
    box-shadow: inset 4px 3px 6px 0 rgba(0, 0, 0, 0.32);
    color: white;

}
.content-404{
    width: 50%;
    padding-top: 15%;
    position: relative;
}
.content-404 h1,.content-404 p{
    color: #474747;
    text-align: center;
}
.content-404 p{
    padding-top: 20px;
    font-size: 1.2em;
}
.content-404 a{
    color: #26D2AE;
}

.content-404 div{
    width: 800px;
    height: 350px;
    overflow: hidden;
    position: absolute;
    right:calc(50% - 400px);
}
.content-404 img{
    width: 100%;
}
.butterfly img{
    width: 40px;
    display: inline-block;
    position: absolute;
    animation-name: animation-butterfly;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.butterfly_two{
    left:20%;
}
.butterfly_tree{
    left:40%;
}
.butterfly_four{
    left:60%;
}
.butterfly_five{
    left:80%;

}
@keyframes animation-butterfly {
    from{
        width: 100%;
    }
    to{
        width: 5%;
        transform: rotate(180deg);
    }

}
/*каталог /короны*/
.content-catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content: flex-start;
}
.content-catalog h1{
    font-family: Bilbo, cursive;
    font-size: 3em;
    color: #40DEDF;
    flex-basis: 100%;
    padding-bottom: 50px;
}
.catalog-header{
    margin-bottom: 80px;
    width: 100%;
    min-height: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.catalog-header:after {
    content: "";
    width: 100%;
    height: 1px;
    background:#e6e6e6;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.fa-comment-alt,
.fa-times-circle{
   font-size: 2em;
    color: #9d9696;
   position: absolute;
    top:0;
    left: 0;
}

.comment{
    min-width: 50px;
    min-height: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: .5s linear all;
}
.comment-content{
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    overflow: hidden;
    opacity: 0;
    transition: .5s linear all ;
}
.visible{
    height: 250px;
    padding: 50px;
    opacity: 1;

}
.comment-content div{
    border: solid 1px #40dfdf;
    border-radius: 5px;
    flex-basis: 30%;
    text-align: center;
}
.comment-content h3{
    color: #9d9d9d;
    padding-bottom: 10px;
}
.comment-content p{
    color: #27e5c2;
}
.nav-catalog{
    display: flex;
    justify-content: space-around;
    flex-basis: 80%;
    padding-bottom: 35px;
}
.nav-catalog li a{
    color:dimgray;
   font-size: 20px;
    padding-bottom: 33px;
}
.nav-catalog li a:hover{
    border-bottom:solid 2px #40dfdf;
}
.nav-catalog li a:active{
    color: #cdc6c6;
    border-bottom:solid 2px #40dfdf;
}
.nav-catalog li .active-item-header{
    color: #cdc6c6;
    border-bottom:solid 2px #40dfdf;
}
.catalog-goods{
    display: flex;
    flex-basis: 100%;justify-content: space-between;
    align-items:flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.goods{
    width: 33%;
    height:460px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    box-sizing: border-box;

}
.goods:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom,#40dedf 25%,#e6e6e6 75%);
    top:0;
    left:0;
    opacity: 0;
}
.goods:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#40dedf 25%,#e6e6e6 75%);
    top:0;
    left:0;
    opacity: 0;
}

.goods-name{
    color: #9d9d9d;
    font-family:Bilbo, cursive;
    text-align: center;
    font-size: 1.6em;
    padding-top: 20px;
}
.price{
    font-size: 17px;
    color: #000000;
}
.goods-actions  svg{
    fill: #24ffdd;
    width: 50px;
    padding: 0 10px 0 10px;
    opacity: 0;
}

.goods:hover::after,
.goods:hover::before,
.goods:hover  svg{
    opacity: 1;
    transition: 1s ease all;
}
.goods:hover{
    border-right: solid 2px rgba(128, 128, 128, 0.25);
    border-bottom:solid 2px rgba(128, 128, 128, 0.26);
}
.form-wrapper{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 200;
}
.form-oder{
    width: 600px;
    min-height: 550px;
    padding:50px;
    border-radius: 10px;
    background: white;
    position: fixed;
    top:20%;
    left:calc(50% - 300px);
    z-index: 201;
}
.form-oder label{
    font-size: 3em;
    color: #9d9696;
    text-shadow:3px 0 2px #1c8d73;
}
.hidden{
    display: none;
}
.form-sent{
    width: 800px;
    position: fixed;
    top:20%;
    left:calc(50% - 400px);
    z-index: 201;
    font-size: 2em;
    padding: 30px;
    color: #cdc6c6;
    text-shadow:3px 0 2px #1ebfa3;
    border-radius: 10px;
    background: white;
}
.button-form{
    width: 100px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    background: #24ccaa;
    border-radius: 10px;
    border-top: solid 1px #1bc3aa;
    box-shadow:inset 1px -2px 4px 0 #1c8d73;
    color: white;
    font-size: 20px;
    margin-left: 80%;
}
.button-form:active{
    background: rgb(200, 228, 218);
    box-shadow:inset 2px 1px 4px 0 #0b2b21;
    color: #24ccaa;
    text-shadow: none;
}
.form-oder .fa-times{
    color: #9d9696;
    font-size: 30px;
    position: absolute;
    right:20px;
    top:20px;
}

/*страница товара*/
.content-goods{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
}
.content-top-wrapper{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
}
.content-goods-left-slider{
    flex-basis: 50%;
    flex-grow: 2;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.content-goods-right{
    flex-basis: 50%;
    flex-grow: 1;
}

.content-goods-right a{
    display: inline-block;
    margin-top: 150px;
}
.content-goods-right h1{
    color: #656565;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 40px;
}
.content-goods-right p{
    color: #9d9696;
    font-size: 20px;
    margin-right:40%;
}
.content-goods-right .price{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #656565;
}
.button-in-goods{

    border: solid 1px #26d2ae;
    font-size: 50px;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 60px;
    display: flex;
}
.button-in-goods svg{
    display: inline-block;
    fill: #26d2ae;
}
.button-in-goods p{
    display: inline-block;
    font-size: 25px;
    color: #26d2ae;
    margin: 0;
}
.button-in-goods:hover,
.button-in-goods:hover > svg,
.button-in-goods:hover >  p{
    background:#26d2ae;
    fill: white;
    color: white;
}
.button-in-goods:active{
    background:#26d2ae;
    box-shadow: inset -1px 1px 5px 0 #166c57;;
}
.button-in-goods:active > svg,
.button-in-goods:active >  p{
    fill: white;
    color: white;
}

.slider{
    width: 500px;
    height:500px;
    position: relative;
}
.img-wrapper{
    width: 100%;
    position: relative;
}
.slider img{
   position: absolute;
    width:100%;
    top:0;
    left:0;
    display: none;
}
.img.active{
    display:block;
}
.prev,.next{
    font-size: 30px;
    width: 20%;
    height: 100%;
    position: absolute;
    top:0;
    right:-20%;
    z-index: 10;
    text-align: center;
}
.prev .fas{
    position: absolute;
    display: inline-block;
    top: 48%;
}
.next .fas{
    position: absolute;
    display: inline-block;
    top: 48%;
}
.prev{
    right: auto;
    left:-20%;
}
.content-goods-bottom{
    border-top: solid 1px darkgray;
    width: 60%;
    margin: auto;
    padding-top: 100px;
}
.content-goods-bottom-header{
    color: #474747;
    font-size: 2em;
    margin-bottom: 100px;
}
.fullpage{
    position: fixed;
    top:0;
    background: rgba(26, 26, 26, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 200;
}
.fullpage .slider{
    width: 40%;
}
.fullpage .next{
    top:30%;
}
.fullpage .prev{
    top:30%;
}

.button-close-fullpage{
    width: 100px;
    height: 100px;
    position: absolute;
    top:80px;
    right: 300px;
    font-size: 30px;
    color: white;
    display: none;
}
